/* #region Variables */

:root {
    --primary-brand-color: #4D5AE5;   /* IRIS */
    --pressed-state-color: #404BBF;   /* OCEAN */
    --dark-color: #2E2F42;    /* NAVY BLUE */
    --success-color: #31D0AA;   /* GREEN */
    --body-text-color: #434455;   /* SLATE */
    --helper-text-color: #8E8F99;   /* LIGHT SLATE */
    --accent-color: #E7E9FC;    /* CORNFLOWER */
    --light-mode-color: #F4F4FD;    /* CLOUD */

    --hero-background-color: #2E2F42;   /* GREY */
    --white-background-color: #FFFFFF;    /* WHITE */
    --modal-background-color: #FCFCFC;    /* DAIRY */
    --modal-overlay-background-color: rgba(46, 47, 66, 0.4);
    --input-border-color: rgba(46, 47, 66, 0.4);

    --font-family-body: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500; 
    --font-weight-bold: 700;

    --line-height-hero-title: 1.07;
    --line-height-title: 1.11;
    --line-height-logo: 1.17;
    --line-height-subtitle: 1.2;
    --line-height-body: 1.5;

    --letter-spacing-basic: 0.02em;
    --letter-spacing-second: 0.04em;
    --letter-spacing-logo: 0.03em;

    --button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    --card-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    --modal-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    --header-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

    --team-border-radius: 0 0 4px 4px;
    --standard-border-radius: 4px;
}
/* #endregion */

/* #region Reset */

h1, h2, h3, h4, h5, h6, p { /* Скидаємо відступи заголовків */
    margin: 0;
    padding: 0;
}

img {                  /* Нормалізуємо властивості для картинок */
    display: block;    /* Прибираємо нижній відступ */
    max-width: 100%;   /* Щоб великі картинки не вилазили за межі екрана */
    height: auto;      /* Зберігаємо пропорції */
}

a {             /* Прибираємо підкреслення та наслідуємо колір у всіх посилань */
    text-decoration: none;
    color: inherit;
}

ul, ol {        /* Прибираємо маркери та відступи у списків */
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

button {                      /* Нормалізуємо кнопки */
    cursor: pointer;          /* Змінюємо курсор при наведенні */
    border: none;             /* Прибираємо рамку */
    background-color: transparent; /* Робимо фон прозорим */
    padding: 0;               /* Прибираємо внутрішні відступи */
    font-family: inherit;
	color: currentColor;
}

address {       /* Прибираємо дефолтний курсив у address */
    font-style: normal;
}

input {
	font-family: inherit;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region Common */

body {
    min-height: 100vh;
    font-family: var(--font-family-body);
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    background-color: var(--white-background-color);
}

.container { 
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;  
}

@media screen and (max-width: 767px) {
    .team .container {
        padding: 0 28px;
    }
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team .container {
        padding: 0 108px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.hidden {
    display: none;
}

/* #endregion */

/* #region Header */

.header {
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--white-background-color);
    box-shadow: var(--header-shadow);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: var(--line-height-logo);
    letter-spacing: var(--letter-spacing-logo);
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.header .logo-link {
    display: inline-block;
    padding: 16px 0;
}

.header-logo-accent {
    color: var(--dark-color);
}

.button-burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

.header .nav-list,
.header .contacts {
    display: none;
}

@media screen and (min-width: 768px) {

    .button-burger {
        display: none;
    }
    
    .header .nav {
        display: flex;
        align-items: center;
    }

    .header .logo-link {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: var(--font-weight-medium);
        color: var(--dark-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
        color: var(--pressed-state-color);
    }

    .nav-link.current:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        z-index: 999;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
    }

    .header .contacts {
        display: block;
        padding: 16px 0;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: var(--line-height-logo);
        letter-spacing: var(--letter-spacing-second);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: var(--pressed-state-color);
    }
}

@media screen and (min-width: 1158px) {

    .header .logo-link {
        margin-right: 76px;
    }

    .header .contacts {
        padding: 0;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    
    .contacts-link {
        padding: 24px 0;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
    }
}

/* #endregion */

/* #region Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: var(--dark-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    background-color: var(--pressed-state-color);
    border: none;
    fill: #FFFFFF;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    flex-grow: 1;
}

.mobile-menu .nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


@media screen and (max-width: 767px) {
    .nav-link {
        display: block;
        font-size: 36px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-title);
        color: var(--dark-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
        color: var(--pressed-state-color);
    }

    .mobile-menu .contacts {
        display: block;
        margin-bottom: 48px;
    }

    .mobile-menu .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .contacts-link {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-subtitle);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: var(--pressed-state-color);
    }
}


@media screen and (min-width: 768px){
    .mobile-menu  {
        display: none;
    }
}

/* #endregion */

/* #region Socials */

.socials-list {
    display: flex;
    justify-content: center;
}

.mobile-menu .socials-list {
    gap: 40px;
}

.team .socials-list {
    gap: 24px;
}

.footer .socials-list {
    gap: 16px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--pressed-state-color);
}

.socials-icon {
    fill: var(--light-mode-color);
}

/* #endregion */

/* #region Hero */

.hero {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    text-align: center;
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-basic);
    color: var(--white-background-color);
}

.button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: var(--standard-border-radius);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-second);
    text-transform: capitalize;
    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    box-shadow: var(--button-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: var(--line-height-hero-title);
    }

}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
    }

    .hero-title {
        margin-bottom: 48px;
    }

}
/* #endregion */

/* #region Sections */

.section {
    padding: 96px 0;
}

.title,
.subtitle {
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-basic);
    text-transform: capitalize;
    color: var(--dark-color);
}

.title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: var(--font-weight-medium);
}

.features-list,
.team-list,
.portfolio-list {
    display: flex;
    flex-direction: column;
}

.features-list,
.team-list {
    gap: 72px;
}

.portfolio-list {
    gap: 48px;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 96px 0;
    }

    .features-list,
    .team-list,
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .features-list,
    .portfolio-list {
        row-gap: 72px;
    }

    .team-list {
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }

    .subtitle {
        line-height: var(--line-height-subtitle);
    }

    .features-list,
    .team-list,
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }
}

/* #endregion */

/* #region Features */

.features-icon-wrapper {
    display: none;
}

.features .subtitle {
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.features .text {
    font-weight: var(--font-weight-medium);
}

@media screen and (min-width: 768px) {

    .features-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features .subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-list-item {
        flex-basis: calc((100% - (24px*3)) / 4);
    }
    
    .features-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid var(--helper-text-color);
        border-radius: var(--standard-border-radius);
        background-color: var(--light-mode-color);
    }

    .features-icon {
        fill: var(--dark-color);
    }
    
    .features .subtitle {
        font-weight: var(--font-weight-medium);
    }

    .features .text {
        font-weight: var(--font-weight-regular);
    }
}

/* #endregion */

/* #region Team */

.team {
    background-color: var(--light-mode-color);
}

.team-list-item {
    border-radius: var(--team-border-radius);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    background-color: var(--white-background-color);
}

.team-card-text-content {
    padding: 32px 0;
}

.team-list-item .subtitle {
    text-align: center;
}

.team-list-item .text {
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .team .subtitle {
        font-size: 20px;
        line-height: var(--line-height-subtitle);
    }
    
}

@media screen and (min-width: 1158px) {
    .team-list-item {
        flex-basis: calc((100% - (24px*3)) / 4);
    }
}

/* #endregion */

/* #region Portfolio */

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    display: none;
}

.portfolio-card-text-content {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: var(--card-shadow);
}

@media screen and (min-width: 768px) {
    
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - (24px*2)) / 3);
    }

    .overlay-text {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--light-mode-color);
        background-color: var(--primary-brand-color);
    }

    .portfolio-list-item:hover .overlay-text,
    .portfolio-list-item:focus .overlay-text {
        transform: translate(0%);
    }
}

/* #endregion */

/* #region Footer */

.footer {
    padding: 96px 0;
    background-color: var(--dark-color);
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-info-wrapper,
.footer-socials-wrapper,
.footer-subscribe-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .logo-link {
    display: inline-block;
    text-align: center;
}

.footer-logo-accent {
    color: var(--light-mode-color);
}

.footer-text {
    color: var(--light-mode-color);
}

.socials-text, .subscribe-text {
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--white-background-color);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
    background-color: var(--success-color);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-form-input {
    width: 288px;
    height: 40px; 
    padding: 8px 16px;
    border: 1px solid var(--white-background-color);
    border-radius: var(--standard-border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
}

.subscribe-form-input::placeholder {
    font-weight: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input:hover,
.subscribe-form-input:focus {
    border-color: var(--success-color);
}

.subscribe-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
    background-color: var(--success-color);
}

.button-text {
    font-size: 16px;
}

.button-icon {
    margin-left: 16px;
    fill: var(--white-background-color)
}

@media screen and (min-width: 768px) {

    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        padding: 0 108px;
    }
    
    .footer .logo-link,
    .socials-text, 
    .subscribe-text {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {

    .footer {
        padding: 100px 0;
    }

    .footer .container {
        flex-wrap: nowrap;
        justify-content: start;
        align-items: baseline;
        gap: 0;
        padding: 0 16px;
    }

    .footer-info-wrapper {
        margin-right: 120px;
    }

    .footer-socials-wrapper {
        margin-right: 80px;
    }

    .subscribe-form {
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

}

/* #endregion */

/* #region Modal */

/* #endregion */

/* #region Form */

/* #endregion */

/* помістити картинку в обгортку */

/* .thumb {
    height: 400px;
    width: 300px;
}

.thumb img {
    height: 100%;
    width: 100%;
	object-fit: cover;
} */


/* Крок 1. Притискаємо футер вниз */
/* .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* Крок 2. Притискаємо футер вниз */
/* main {
    flex-grow: 1;
} */
